<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Candy Shop Online</title>
</head>

<body>
<h1>Here is your cart:</h1>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item : ${order.orderDetails.orderItems}">
        <th th:text="${item.product.name.toUpperCase()}"></th>
        <th th:text="${item.quantity}"></th>
    </tr>
</table>
<h1 th:text="'Total sum: ' + ${order.sum}"></h1>
</body>
</html>