<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Candy Shop Online</title>
</head>

<body>
<div>
    <a th:text="'Username: ' + ${user.getUsername()}"></a>
    <br/>
    <a th:text="'Money balance: ' + ${user.getMoneyBalance() + '$'}"></a>
    <br/>
    <a th:href="@{/my_orders}">MY ORDERS</a>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form>
</div>
<hr/>

<h1>Here is your cart:</h1>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price($)</th>
    </tr>
    <tr th:each="item : ${order.orderDetails.orderItems}" th:if="${item.quantity > 0}">
        <th th:text="${item.product.name.toUpperCase()}"></th>
        <th th:text="${item.quantity}"></th>
        <th th:text="${item.product.getPriceForDisplay()}"></th>
    </tr>
</table>
<h1 th:text="'Total sum: ' + ${order.getSumForDisplay()} + '$'"></h1>
<i th:text="${msg}" style="color: red"></i><br>
<a th:href="@{/shop/purchase}">PURCHASE</a>
<a th:href="@{/shop}">CANCEL</a>
</body>
</html>