<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Candy Shop Online</title>
</head>

<body>
<div>
    <a th:text="'Username: ' + ${user.getUsername()}"></a>
    <br/>
    <a th:text="'Money balance: ' + ${user.getMoneyForDisplay()} + '$'"></a>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form>
    <br/>
    <a th:href="@{/shop}">back to the shop</a>
</div>
<hr/>

<h1>Your orders:</h1>
<div th:each="order : ${orders}">
    <p th:text="'ID: ' + ${order.getId()}"></p>
    <p th:text="'Created at: ' + ${order.getDateTime()}"></p>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price($)</th>
        </tr>
        <tr th:each="item : ${order.getOrderDetails().getOrderItems()}" th:if="${item.getQuantity() > 0}">
            <th th:text="${item.getProduct().getName().toUpperCase()}"></th>
            <th th:text="${item.getQuantity()}"></th>
            <th th:text="${item.getProduct().getPriceForDisplay()}"></th>
        </tr>
    </table>
    <p th:text="'Total sum: ' + ${order.getSumForDisplay()} + '$'"></p>
    <br/>
</div>
<br/>

</body>
</html>