<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Candy Shop Online</title>
</head>

<body>
<div>
    <a th:text="'Username: ' + ${user.getUsername()}"></a>
    <br/>
    <a th:text="'Money balance: ' + ${user.getMoneyForDisplay() + '$'}"></a>
    <br/>
    <a th:href="@{/my_orders}">MY ORDERS</a>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form>
</div>
<hr/>

<h1>What would you like to choose?</h1>
<form method="POST" th:object="${order.orderDetails}">
    <div th:each="item, iter : *{orderItems}">
        <img th:src="${'/images/products/' + item.product.name + '.png'}" th:alt="${item.product.name}"/>
        <input type="number" min="0" th:max="${item.product.inStock}" th:field="*{orderItems[__${iter.index}__].quantity}">
        <span th:if="${item.product.inStock == 0}" style="color: red">Not available yet</span>
        </br>
        <span th:text="${item.product.name.toUpperCase()}"></span>
        </br>
        <span th:text="${item.product.getPriceForDisplay() + '$'}"></span>
        </br></br>
    </div>
    <input type="image" th:src="@{/images/cart.png}" style="display: block; margin: 0 auto;" alt="To the cart">
</form>
</body>
</html>