<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Candy Shop Online</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div>
    <a th:text="'Username: ' + ${user.getUsername()}"></a>
    <br/>
    <a th:text="'Money balance: ' + ${user.getMoneyForDisplay() + '$'}"></a>
    <br/>
    <a th:href="@{/my_orders}">MY ORDERS</a>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form>
</div>
<hr/>

<h1>Thank you! Your order is now in process...</h1>
<a th:href="@{/}">To the home page</a>
</body>
</html>